@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@plugin "daisyui"; 

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #009739;
  --color-secondary: teal;
}
  
@theme {
    --font-sans: "Montserrat", sans-serif;

    --color-primary: #009739;
    --color-secondary: #005850;
}
